[target.aarch64-unknown-linux-gnu]
image = "ghcr.io/cross-rs/aarch64-unknown-linux-gnu@sha256:1e2a0291f92a4372cbc22d8994e735473045383f1ce7fa44a16c234ba00187f4"
pre-build = [
    "dpkg --add-architecture arm64",
    "apt-get update",
    "apt-get install -y pkg-config:arm64 libc6-dev:arm64",
    "apt-get install -y libssl-dev:arm64 libsasl2-dev:arm64",
    "ln -sf /usr/lib/aarch64-linux-gnu/libssl.so.1.1 /usr/lib/aarch64-linux-gnu/libssl.so",
    "ln -sf /usr/lib/aarch64-linux-gnu/libcrypto.so.1.1 /usr/lib/aarch64-linux-gnu/libcrypto.so",
]

[target.aarch64-unknown-linux-gnu.env]
LIBZ_SYS_STATIC = "1"
PKG_CONFIG_PATH = "/usr/lib/aarch64-linux-gnu/pkgconfig:/usr/share/pkgconfig"
PKG_CONFIG_ALLOW_CROSS = "1"
LIBRDKAFKA_SSL_VENDORED = "1"
OPENSSL_ROOT_DIR = "/usr"
OPENSSL_INCLUDE_DIR = "/usr/include"
OPENSSL_CRYPTO_LIBRARY = "/usr/lib/aarch64-linux-gnu/libcrypto.so"
OPENSSL_SSL_LIBRARY = "/usr/lib/aarch64-linux-gnu/libssl.so"