version: "3.7"

networks:
  parseable-internal:
    driver: bridge

services:
  minio:
    image: minio/minio:RELEASE.2023-02-10T18-48-39Z
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /data/parseable && \
        minio server /data
    environment:
      - MINIO_ROOT_USER=parseable
      - MINIO_ROOT_PASSWORD=supersecret
      - MINIO_UPDATE=off
    ports:
      - 9000
    volumes:
      - /tmp/data/minio:/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 15s
      timeout: 20s
      retries: 5
    networks:
      - parseable-internal

  parseable:
    build:
      context: .
      dockerfile: Dockerfile
    command: ["parseable", "s3-store"]
    ports:
      - 8000
    environment:
      - P_S3_URL=http://minio:9000
      - P_S3_ACCESS_KEY=parseable
      - P_S3_SECRET_KEY=supersecret
      - P_S3_REGION=us-east-1
      - P_S3_BUCKET=parseable
      - P_STAGING_DIR=/tmp/data
      - P_USERNAME=parseableadmin
      - P_PASSWORD=parseableadmin
    networks:
      - parseable-internal
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/api/v1/liveness" ]
      interval: 15s
      timeout: 20s
      retries: 5
    depends_on:
      - minio

  quest:
    image: ghcr.io/parseablehq/quest:main
    command: ["smoke", "http://parseable:8000", "parseableadmin", "parseableadmin"]
    networks:
      - parseable-internal
    depends_on:
      - parseable
    deploy:
      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 3
