[package]
name = "parseable"
version = "0.0.1"
authors = [
    "NitishTiwari <nitish@parseable.io>", 
    "AdheipSingh <adheip@parseable.io>",
]
edition = "2021"
categories = ["olap", "analytics-store"]

[dependencies]
actix-web-httpauth = "0.6"
actix-web = { version = "4.1", features = ["openssl"] }
actix-cors = "0.6"
actix-files = "0.6.1"
anyhow = { version = "1.0.43", features = ["backtrace"] }
arrow = "15.0"
async-trait = "0.1"
aws-config = "0.47.0"
aws-sdk-s3 = "0.17"
aws-smithy-http = "0.47.0"
aws-types = "0.47"
bytes = "1"
chrono = "0.4.19"
crossterm = "0.23.2"
datafusion = "8.0"
datafusion-objectstore-s3 = { git = "https://github.com/parseablehq/datafusion-objectstore-s3" }
derive_more = "0.99.17"
env_logger = "0.9.0"
futures = "0.3"
http = "0.2.4"
lazy_static = "1.4.0"
log = "0.4.14"
num_cpus = "1.0.0"
openssl = { version = "0.10" }
os_info = "3.0.7"
hostname = "0.3"
parquet = "15.0"
rand = "0.8.4"
rust-flatten-json = "0.2.0"
serde = "^1.0.8"
serde_derive = "^1.0.8"
serde_json = "^1.0.8"
structopt = { version = "0.3.25" }
sysinfo = "0.20.5"
thiserror = "1"
tokio-stream = "0.1.8"
tokio = { version = "1.13.1", default-features = false, features=["sync", "macros"] }
clokwerk = "0.4.0-rc1"
actix-web-static-files = "4.0"
static-files = "0.2.1"
walkdir = "2"
ureq = "2.5.0"

[build-dependencies]
static-files = "0.2.1"
cargo_toml = "0.11.5"
ureq = "2.5.0"
sha1_smol = { version = "1.0.0", features=["std"] }
zip = { git = "https://github.com/zip-rs/zip" }

[dev-dependencies]
maplit = "1.0.2"
rstest = "0.15.0"
serial_test = { version = "0.9.0", default-features = false }

[package.metadata.parseable_ui]
assets-url = "https://github.com/parseablehq/console/releases/download/0.0.2/build.zip"
assets-sha1 = "8c50ee6ab27e9c0af3ea677f1cde0fbb737e0f87"
