[package]
name = "parseable"
version = "0.0.3"
authors = [
    "NitishTiwari <nitish@parseable.io>", 
    "AdheipSingh <adheip@parseable.io>",
]
edition = "2021"
categories = ["olap", "analytics-store"]

[dependencies]
actix-web-httpauth = "0.6"
actix-web = { version = "4.1", features = ["rustls"] }
actix-cors = "0.6"
actix-files = "0.6.1"
anyhow = { version = "1.0.43", features = ["backtrace"] }
async-trait = "0.1"
aws-sdk-s3 = "0.17"
bytes = "1"
chrono = "0.4.19"
chrono-humanize = "0.2.2"
crossterm = "0.23.2"
datafusion = "11.0"
object_store = { version = "0.4", features=["aws"] }
derive_more = "0.99.17"
env_logger = "0.9.0"
futures = "0.3"
filetime = "0.2.17"
http = "0.2.4"
lazy_static = "1.4.0"
log = "0.4.14"
num_cpus = "1.0.0"
os_info = "3.0.7"
hostname = "0.3"
rand = "0.8.4"
rustls = "0.20.6"
rustls-pemfile = "1.0.1"
rust-flatten-json = "0.2.0"
semver = "1.0.14"
serde = "^1.0.8"
serde_derive = "^1.0.8"
serde_json = "^1.0.8"
structopt = { version = "0.3.25" }
sysinfo = "0.20.5"
thiserror = "1"
thread-priority = "0.9.2"
tokio-stream = "0.1.8"
tokio = { version = "1.13.1", default-features = false, features=["sync", "macros"] }
clokwerk = "0.4.0-rc1"
actix-web-static-files = "4.0"
static-files = "0.2.1"
walkdir = "2"
ureq = { version = "2.5.0", features = ["json"] }

[build-dependencies]
static-files = "0.2.1"
cargo_toml = "0.11.5"
ureq = "2.5.0"
sha1_smol = { version = "1.0.0", features=["std"] }
zip = { git = "https://github.com/zip-rs/zip" }

[dev-dependencies]
maplit = "1.0.2"
rstest = "0.15.0"
serial_test = { version = "0.9.0", default-features = false }

[package.metadata.parseable_ui]
assets-url = "https://github.com/parseablehq/console/releases/download/v0.0.6/build.zip"
assets-sha1 = "c529d11acb35376d1b41bf3fa7746f26571e51cf"
