parseable:
  replicaCount: 1
  image:
    repository: parseable/parseable
    pullPolicy: IfNotPresent
    tag: ""
  env:
    P_ADDR: "0.0.0.0:8000"
    P_TLS_CERT_PATH: ""
    P_LOCAL_STORAGE: "data"
    P_STORAGE_UPLOAD_INTERVAL: "60"
    RUST_LOG: "parseable=trace"
    # By default parseable uses demo env digital ocean spaces
    #P_S3_URL: ""
    #P_S3_ACCESS_KEY: ""
    #P_S3_SECRET_KEY: ""
    #P_S3_REGION: ""
    #P_S3_BUCKET: ""
    P_USERNAME: "parseable"
    P_PASSWORD: "parseable"
  nameOverride: ""
  fullnameOverride: ""  
  serviceAccount:
    create: true
    name: "parseable"
    annotations: {}
  service:
    type: ClusterIP
    port: 80
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi
  securityContext:
   runAsUser: 10001
   allowPrivilegeEscalation: false
  podAnnotations: {}
  podSecurityContext: {}
  nodeSelector: {}
  affinity: {}
  tolerations: []
