name: Build and push edge debug tag

on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - 'docs/**'
      - 'helm/**'
      - 'assets/**'
      - '**.md'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:qemu-v8.1.5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: parseable/parseable

      - name: Build and push x86_64
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.debug
          push: true
          tags: parseable/parseable:edge-debug
          platforms: linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push aarch64
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.debug
          push: true
          tags: parseable/parseable:edge-debug
          platforms: linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
