name: Build and push edge kafka tag

on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - 'docs/**'
      - 'helm/**'
      - 'assets/**'
      - '**.md'

jobs:
  docker:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:qemu-v8.1.5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: parseable/parseable

      - name: Clean up builder cache
        run: docker builder prune -f

      - name: Build and push x86_64
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.kafka
          push: true
          tags: parseable/parseable:edge-kafka-amd64
          platforms: linux/amd64
          build-args: |
            LIB_DIR=x86_64-linux-gnu

      - name: Build and push aarch64
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.kafka
          push: true
          tags: parseable/parseable:edge-kafka-arm64
          platforms: linux/arm64
          build-args: |
            LIB_DIR=aarch64-linux-gnu