name: Release builds for Mac(64bit, Arm), Windows and Linux(64 bit, Arm)

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
    paths-ignore:
      - "docs/**"
      - "helm/**"
      - "assets/**"
      - "**.md"

jobs:
  build-linux:
    name: Build for ${{matrix.target}}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - aarch64-unknown-linux-gnu # linux(arm)
          - x86_64-unknown-linux-gnu # linux(64 bit)
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal # minimal component installation (ie, no documentation)
          target: ${{matrix.target}}
          override: true

      - uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: --release --target ${{matrix.target}}

      - name: Rename binary
        run: |
          mv target/${{ matrix.target }}/release/parseable Parseable_OSS_${{ matrix.target }}

      - name: Create Artifact
        uses: actions/upload-artifact@v3
        with:
          name: Parseable_OSS_${{ matrix.target }}
          path: Parseable_OSS_${{ matrix.target }}

      - name: Publish Archive to Release Page
        uses: softprops/action-gh-release@v0.1.15
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        with:
          draft: false
          files: Parseable_OSS_${{ matrix.target }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install latest rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          default: true
          override: true

      - name: Build
        run: cargo build --all --release --target x86_64-pc-windows-msvc

      - name: Rename binary
        run: |
          mv target/x86_64-pc-windows-msvc/release/PARSEABLE.exe Parseable_OSS_x86_64-pc-windows-msvc.exe

      - name: Create artifact for Windows
        uses: actions/upload-artifact@v2
        with:
          name: Parseable_OSS_x86_64-pc-windows-msvc.exe
          path: Parseable_OSS_x86_64-pc-windows-msvc.exe

      - name: Publish Archive to Release Page
        uses: softprops/action-gh-release@v0.1.15
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        with:
          draft: false
          files: Parseable_OSS_x86_64-pc-windows-msvc.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-mac:
    runs-on: macos-latest
    strategy:
      matrix:
        target:
          - aarch64-apple-darwin
          - x86_64-apple-darwin

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install latest rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          target: ${{ matrix.target }}
          default: true
          override: true

      - name: Build
        run: |
          cargo build --release --target ${{ matrix.target }}
          strip target/${{ matrix.target }}/release/Parseable

      - name: Rename binary
        run: |
          mv target/${{ matrix.target }}/release/Parseable Parseable_OSS_${{ matrix.target }}

      - name: Create artifact
        uses: actions/upload-artifact@v2
        with:
          name: Parseable_OSS_${{ matrix.target }}
          path: Parseable_OSS_${{ matrix.target }}

      - name: Publish Archive to Release Page
        uses: softprops/action-gh-release@v0.1.15
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        with:
          draft: false
          files: Parseable_OSS_${{ matrix.target }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  create-checksum:
    runs-on: ubuntu-latest
    needs: [build-linux, build-windows, build-mac]
    steps:
      - name: Download artifacts created
        uses: actions/download-artifact@v4.1.7

      - name: Run shasum command
        run: |
          find . -type f -name "Parseable_OSS_*" -exec shasum {} \; | sed 's/.\/.*\///' > checksum.txt

      - name: Create artifact
        uses: actions/upload-artifact@v2
        with:
          name: checksum.txt
          path: checksum.txt

      - name: Publish Check Sum to Release Page
        uses: softprops/action-gh-release@v0.1.15
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        with:
          draft: false
          files: checksum.txt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
